---
layout: default
---

<div class="container">

  <h1>{{ page.title }}</h1>
  <hr class="mb-5">

  {{ content }}

  {% if page.references %}
    <h2 class="mt-5">References</h2>
    <hr>
    <ul>
      {% for ref in page.references %}
        <li>
          {% if ref.link %}<a href="{{ ref.link }}" target="_blank" rel="noopener" class="link-underline">{% endif %}
          {{ ref.author }}: <em>{{ ref.title }}</em>, {{ ref.date }}
          {% if ref.link %}</a>{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
